<!-- Wrapper Start -->
<div class="wrapper">
  <!--  sidebar horizontal-->
  <div class="iq-sidebar  sidebar-default ">
    <!--  sidebar logo -->
    <div class="iq-sidebar-logo d-flex align-items-center">
      <a href="backend/index.html" class="header-logo">
        <img src="assets/images/logo.svg" alt="logo">
        <h4 class="logo-title light-logo">Task Management</h4>
      </a>
      <div class="iq-menu-bt-sidebar ml-0">
        <i class="las la-bars wrapper-menu"></i>
      </div>
    </div>
    <!--  sidebar menu -->
    <div class="data-scrollbar" data-scroll="1">
      <!--  nav bar-->
      <nav class="iq-sidebar-menu">
        <ul id="iq-sidebar-toggle" class="iq-menu">
          <li class="active">
            <a routerLink="/homeAdmin/DashbordAdmin" class="svg-icon">
              <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                <polyline points="9 22 9 12 15 12 15 22"></polyline>
              </svg>
              <span class="ml-4">Dashboards</span>
            </a>
          </li>
          <li class="">
            <a routerLink="/homeAdmin/Label" class="svg-icon">
              <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
              </svg>
              <span class="ml-4">Label</span>
            </a>
          </li>
          <li class="">
            <a routerLink="/homeAdmin/employees" class="svg-icon">
              <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
              </svg>
              <span class="ml-4">Employees</span>
            </a>
          </li>
          <li class="">
            <a routerLink="/homeAdmin/listProjet" class="svg-icon">
              <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="6 9 6 2 18 2 18 9"></polyline>
                <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
                <rect x="6" y="14" width="12" height="8"></rect>
              </svg>
              <span class="ml-4">Projects</span>
            </a>
          </li>
          <li class="">
            <a routerLink="/homeAdmin/listTasks" class="svg-icon">
              <svg class="svg-icon" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
              </svg>
              <span class="ml-4">All Tasks</span>
            </a>
          </li>
          <li class="">
            <a routerLink="/homeAdmin/listTasksHidenForAdmin" class="svg-icon">
              <i style="font-size: 20px;margin-left: 5px" class="fas fa-trash"></i>
              <span class="ml-4">Trash</span>
            </a>
          </li>

        </ul>
      </nav>
      <!-- end nav bar-->
      <div class="pt-5 pb-2"></div>
    </div>
    <!-- end sidebar menu-->
  </div>
  <!-- end  sidebar H -->
  <!--  sidebar Vertical-->
  <div class="iq-top-navbar">
    <div class="iq-navbar-custom">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
          <i class="ri-menu-line wrapper-menu"></i>
          <a href="backend/index.html" class="header-logo">
            <h4 class="logo-title text-uppercase">Gestion des Tâches</h4>
          </a>
        </div>
        <div class="navbar-breadcrumb">
        </div>
        <div class="d-flex align-items-center">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-label="Toggle navigation">
            <i class="ri-menu-3-line"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-list align-items-center">
              <li>
                <div class="iq-search-bar device-search">
                  <form action="#" class="searchbox">
                    <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                    <input type="text" class="text search-input" placeholder="Search here...">
                  </form>
                </div>
              </li>
              <li class="nav-item nav-icon search-content">
                <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <i class="ri-search-line"></i>
                </a>
                <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                  <form action="#" class="searchbox p-2">
                    <div class="form-group mb-0 position-relative">
                      <input type="text" class="text search-input font-size-12"
                             placeholder="type here to search...">
                      <a href="#" class="search-link"><i class="las la-search"></i></a>
                    </div>
                  </form>
                </div>
              </li>
              <!--  nom user + dropdown  -->
              <li class="nav-item nav-icon dropdown caption-content">
                <a href="#" class="search-toggle dropdown-toggle  d-flex align-items-center" id="dropdownMenuButton4"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="assets/images/user/1.jpg" class="img-fluid rounded-circle" alt="user">
                  <div class="caption ml-3">
                    <h6 class="mb-0 line-height">Test Spring Boot<i class="las la-angle-down ml-2"></i></h6>
                  </div>
                </a>
                <!--  dropdown -->
                <ul class="dropdown-menu dropdown-menu-right border-none" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item d-flex svg-icon">
                    <svg class="svg-icon mr-0 text-primary" id="h-01-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <a href="../app/user-profile.html">My Profile</a>
                  </li>
                  <li class="dropdown-item d-flex svg-icon">
                    <svg class="svg-icon mr-0 text-primary" id="h-02-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                    </svg>
                    <a href="../app/user-profile-edit.html">Edit Profile</a>
                  </li>
                  <li class="dropdown-item d-flex svg-icon">
                    <svg class="svg-icon mr-0 text-primary" id="h-03-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    <a href="../app/user-account-setting.html">Account Settings</a>
                  </li>
                  <li class="dropdown-item d-flex svg-icon">
                    <svg class="svg-icon mr-0 text-primary" id="h-04-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                    </svg>
                    <a href="../app/user-privacy-setting.html">Privacy Settings</a>
                  </li>
                  <li class="dropdown-item  d-flex svg-icon border-top">
                    <svg class="svg-icon mr-0 text-primary" id="h-05-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>
                    <a (click)="logOut()">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!--  content page -->
  <div class="content-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card-transparent mb-0">
            <div class="card-header d-flex align-items-center justify-content-between p-0 pb-3">
              <div class="card-header-toolbar d-flex align-items-center">
                <div id="top-project-slick-arrow" class="slick-aerrow-block">
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      <!-- Page end  -->
    </div>
  </div>
  <!--  content page -->
</div>
<!-- Wrapper End-->

<!-- footer -->
<footer class="iq-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 text-end">
        <span class="mr-1"><script>document.write(new Date().getFullYear())</script>©</span> <a href="https://www.linkedin.com/in/souhaila-aouaouri/" class="">Aouaouri Souhaila</a> & <a href="https://www.linkedin.com/in/mohamed-habaieb-b14b74174/" class="">Habaieb Mohamed</a>
      </div>
    </div>
  </div>
</footer>
